body {
    background-color: white;
    font-family: sans-serif;
    line-height: 1.5;
    text-align: left;
    color: black;
    margin: 0%;
  }

  .main{
    position: relative;
    top: 10px;
    left: 80px;
    margin: 5px;
    padding: 15px;
    width: 760px;
    z-index: 50px;
    font-size: 20px;
   
  }
  .Flowers1{
    width: 50px;
    height: 50px;
  }
  h1 {
    font-size: 50px;
    margin: 5px;
    padding: 5px;
  }

  h2{
    font-size: 1em;
    margin: 5px;
    padding: 5px;
  }
  h3 {
    font-size: 1.5em;
  }

  img {
    width:100%;
    height: auto;
  }

.navbar {
  display: flex;
  background-color: lightpink;
  
}

.navbar a {
  color: rgb(247, 241, 246);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  margin-top: 0%;
}

.navbar a:hover {
  background-color: lightgray;
  color: black;
}
.navbar2 {
  display: flex;
  background-color: orange;
  
}

.navbar2 a {
  color: black;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  margin-top: 0%;
}

.navbar2 a:hover {
  background-color: lightgrey;
  color: black;
}

#footer2  {
  background-color: rgb(223, 144, 156);
  padding: 10px;
  text-align: center;
  color: white;
}

footer {
 
  background-color: orange;
  padding: 10px;
  text-align: left;
  color: black;
}

@media screen and (max-width: 700px) {
  .row, .navbar, .main {   
    flex-direction: column;
  }
  .main {
    position: relative;
    top: 10px;
    left: 10px;
    margin: 5px;
    padding: 5px;
    width: 400px;;
    z-index: 60px;
    font-size: 20px;
  }
}
.Flowers1{
  height : 20%;
  width : 100%;

}
.Flower2{
  height : 20%;
  width : 100%;
}
.Flower3{
  height : 20%;
  width : 100%;
}
.church{
  height : 20%;
  width : 100%;
}
.Flower4{
  height : 20%;
  width : 100%;
}
