body {
    background-color: lightgrey;
  }

  h1 {
    color: black;
    font-size: 60px;
  }
  h3 {
    color: orangered;
    font-size: 15px;
  }

  h4 {
    color: orangered;
  }

  h5 {
    color: black;
    font-size: 40px;
  }

  img {
    width:100%;
    height: auto;
  }

  p {
    color: black;
  }