body {
    background-color: lightgrey;
    font-family: sans-serif;
    line-height: 1.5;
  }

  header {
    padding: 30px;
    text-align: left;
    font-size: 35px;
    color: black
  }

  h1 {
    color: black;
    font-size: 50px;
  }

  h2{
    color: black;
  }
  h3 {
    color: black(0, 0, 0);
    font-size: 15px;
  }

  h5 {
    color: black;
    font-size: 40px;
  }

  img {
    width:100%;
    height: auto;
  }

  p {
    color: black;
    text-align: center;
  }

.navbar {
  display: flex;
  background-color: #333;
}

.navbar a {
  color: white;
  padding: 14px 30px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}