body {
    background-color: lightgrey;
  }
  h1 {
    color: black;
    font-size: 60px;
  }
  h3 {
    color: orangered;
  }

  h4 {
    color: orangered;
  }


  img {
    width:100%;
    height: auto;
  }
