body {
    background-color: lightgrey;
    font-family: sans-serif;
  }

  header {
    padding: 30px;
    text-align: left;
    font-size: 35px;
    color: black
  }

  h1 {
    color: black;
    font-size: 50px;
  }

  h2{
    color: black;
  }
  h3 {
    color: rgb(66, 66, 66);
    font-size: 15px;
  }

  h5 {
    color: black;
    font-size: 40px;
  }

  img {
    width:100%;
    height: 600px;
  }

  p {
    color: black;
    text-align: center;
  }
  h2{
    line-height: 1.5;
  }