body {
    background-color: lightgrey;
  }
  h1 {
    color: black;
    font-size: 60px;
  }
  h3 {
    color: orangered;
  }

  img {
    width: 1000px;
    margin:0px;
    border: 100px;
    padding-right: 100px ;
  }
