body {
    background-color: lightgrey;
    font-family: sans-serif;
    line-height: 1.5;
    text-align: left;
    color: black;
  }

  h1 {
    font-size: 50px;
  }

  h2{
    font-size: 1em;
  }
  h3 {
    font-size: 1.5em;
  }

  h5 {
    color: black;
    font-size: 40px;
  }

  img {
    width:100%;
    height: auto;
  }

  p {
    color: black;
    font-size: 1em;
  }

  p1 {
    color: black;
    font-size: 0.8em;
  }
.navbar {
  display: flex;
  background-color: #333;
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar2 {
  display: flex;
  background-color: darkblue;
}

.navbar2 a {
  color: white;
  padding: 14px 30px;
  text-decoration: none;
  text-align: center;
}

.navbar2 a:hover {
  background-color: #ddd;
  color: black;
}

@media screen and (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
}