body {
    background-color: white;
    font-family: sans-serif;
    line-height: 1.5;
    text-align: left;
    color: black;
  }
  header{
    padding: auto;
  }
  p{
    position: relative;
    top: 10px;
    left: 80px;
    margin: 5px;
    padding: 15px;
    width: 760px;
    z-index: 50px;
    font-size: 20px;
   
  }
  h1 {
    font-size: 50px;
  }

  h2{
    font-size: 1em;
  }
  h3 {
    font-size: 1.5em;
  }

  img {
    width:100%;
    height: auto;
  }

  p1 {
    color: black;
    font-size: 0.8em;
  }

.navbar {
  display: flex;
  background-color: lightpink;
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar2 {
  display: flex;
  background-color: lightpink;
}

.navbar2 a {
  color: white;
  padding: 14px 30px;
  text-decoration: none;
  text-align: center;
}

.navbar2 a:hover {
  background-color: #ddd;
  color: black;
}

footer {
  background-color: lightpink;
  padding: 10px;
  text-align: center;
  color: white;
}

@media screen and (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
}
