*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

.header{
    min-height: 100vh;
    width:100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../img/pilestredet.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
    margin: 0;
}


.nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav img{
    width: 150px;
}
.navbar-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.navbar-links{
    flex: 1;
    text-align: right;
    padding-right: 150px;
}

.navbar-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 0.8em;
   
}

.navbar .logo{
    width: 100px;
    cursor: pointer;
    margin-top: 3%;
    margin-left: 2%;

}

.navbar-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: gold;
    display: block;
    margin: auto;

}
.navbar-links ul li:hover::after{
    width: 100%;
    transition: 0.5s;

}
.text-box{
    width: 90%;
    color: gold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}

.text-box h1{
    font-size: 5em;
    letter-spacing: 0.1em;
}
.white{
    color: white;
    background-color: transparent;
}

section{
    width: 80%;
    margin: 80px auto;

}

article{
    width: 80%;
    margin: 80px auto;
}

h1{
    font-size: 1.5em;
    font-weight: 600;
}
h2{
    font-size: 1.5em;
}
h3 {
    font-size: 1.5em;
  }
h4{
    font-size: 1.5em;
}

p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    color: gold;
    
}


.campus-col1{
    flex-basis: 45%;
    border-radius: 15px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    
}

.campus-col1 img{
    width: 100%;
}

.layer{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background-image: linear-gradient(rgba(194, 167, 86, 0.7),rgba(189, 153, 87, 0.7)),url(../img/oslomet.pilestedet.jpg);

}

@media(max-width: 700px){
    .text-box h1{
        font-size: 26px;
        letter-spacing: 10px;
    }
}
.campus-col2{
    flex-basis: 45%;
    border-radius: 15px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    
}

.campus-col2 img{
    width: 100%;
}

.layer{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background-image: linear-gradient(rgba(194, 167, 86, 0.7),rgba(189, 153, 87, 0.7)),url(../img/kjeller.jpg);

}

@media(max-width: 700px){
    .text-box h1{
        font-size: 26px;
        letter-spacing: 10px;
    }
}

/* Under her er ekstra css for tilgjenglighet-siden. */

.header-tilgjenglighet{
    background-position: center;
    background-size: cover;
    position: relative;
}


.navbar2-links{
    flex: 1;
    text-align: right;
}
.navbar2-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.navbar2-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 0.8em;
}

.navbar2-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: gold;
    display: block;
    margin: auto;

}
.navbar2-links ul li:hover::after{
    width: 100%;
    transition: 0.5s;

}
#footerpage2  {
    background-color: orange;
    padding: 30px;
    text-align: left;
    color: black;
  }
  #footerheadline2{
    text-align: left;
    padding: 10px;
  }

  #footerskrift2{
    color: red;
    font-size: 1em;
    padding: 10px;
    text-align: left;
}
  #footerlist2 {
    font-size: 1em;
    padding: 10px;
    text-align: left;
    line-height: 1.7;
    margin-left: 50px;
  }

/* Under her er ekstra css for aktuelt-siden. */

.header-aktuelt{
    background-position: center;
    background-size: cover;
    position: relative;
}


.navbar3-links{
    flex: 1;
    text-align: right;
}
.navbar3-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.navbar3-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 0.8em;
}

.navbar3-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: gold;
    display: block;
    margin: auto;

}
.navbar3-links ul li:hover::after{
    width: 100%;
    transition: 0.5s;

}
#bildeSide3{
    width: 100%;
}
#bildeSide3tekst{
    font-size: 0.8em;
    color: navy;
}

#footerpage3  {
    background-color: orange;
    padding: 30px;
    text-align: left;
    color: black;
  }
  #footerheadline3{
    text-align: left;
    padding: 10px;
  }

  #footerskrift3{
    color: green;
    font-size: 1em;
    padding: 10px;
    text-align: left;
}
  #footerlist3 {
    font-size: 1em;
    padding: 10px;
    text-align: left;
    line-height: 1.7;
    margin-left: 50px;
  }

  /* Under her er ekstra css for dummy-siden. */

  .header-dummy{
    background-position: center;
    background-size: cover;
    position: relative;
}


.navbar4-links{
    flex: 1;
    text-align: right;
}
.navbar4-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.navbar4-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 0.8em;
}

.navbar4-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: gold;
    display: block;
    margin: auto;

}
.navbar4-links ul li:hover::after{
    width: 100%;
    transition: 0.5s;

}
#footerpage4  {
    background-color: orange;
    padding: 30px;
    text-align: left;
    color: black;
  }
  #footerheadline4{
    text-align: left;
    padding: 10px;
  }

  #footerskrift4{
    color: pink;
    font-size: 1em;
    padding: 10px;
    text-align: left;
}
  #footerlist4 {
    font-size: 1em;
    padding: 10px;
    text-align: left;
    line-height: 1.7;
    margin-left: 50px;
  }
