*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

.header{
    min-height: 100vh;
    width:100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../img/pilestredet.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
    margin: 0;
}


.nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav img{
    width: 150px;
}
.navbar-links ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
    position: relative;
}

.navbar-links{
    flex: 1;
    text-align: right;
}

.navbar-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 0.8em;
   
}

.navbar .logo{
    width: 100px;
    cursor: pointer;
    margin-top: 3%;
    margin-left: 2%;

}

.navbar-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: gold;
    display: block;
    margin: auto;

}
.navbar-links ul li:hover::after{
    width: 100%;
    transition: 0.5s;

}
.text-box{
    width: 90%;
    color: gold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}

.text-box h1{
    font-size: 5em;
    letter-spacing: 0.1em;
}
.white{
    color: white;
    background-color: transparent;
}

section{
    width: 80%;
    margin: 80px auto;

}

h1{
    font-size: 1.5em;
    font-weight: 600;
}
h2{
    font-size: 1.5em;
}
h3 {
    font-size: 1.5em;
  }
h4{
    font-size: 1.5em;
}

p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    color: gold;
    
}


.campus-col{
    flex-basis: 45%;
    border-radius: 15px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    
}

.campus-col img{
    width: 100%;
}

.layer{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background-image: linear-gradient(rgba(194, 167, 86, 0.7),rgba(189, 153, 87, 0.7)),url(../img/oslomet.pilestedet.jpg);

}

@media(max-width: 700px){
    .text-box h1{
        font-size: 26px;
        letter-spacing: 10px;
    }
}
#footerpage1  {
    background-color: orange;
    padding: 25px;
    text-align: left;
    color: black;
  }
  #footerlist {
    font-size: 1em;
    padding: 10px;
    text-align: left;
    line-height: 1.5;
    margin-left: 0px;
  }

  #footerskrift{
    color: blue;
    font-size: 1em;
    padding: 15px;
}


/* Under her er ekstra css for aktuelt-siden. */

.header-aktuelt{
    background-position: center;
    background-size: cover;
    position: relative;
}


.navbar1-links{
    flex: 1;
    text-align: right;
}
.navbar1-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.navbar1-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 0.8em;
}

.navbar1-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: gold;
    display: block;
    margin: auto;

}
.navbar1-links ul li:hover::after{
    width: 100%;
    transition: 0.5s;

}
#footerpage2 {
    background-color: orange;
    padding: 25px;
    text-align: left;
    color: black;
  }
  #footerlist2 {
    font-size: 1em;
    padding: 10px;
    text-align: left;
    line-height: 1.5;
    margin-left: 0px;
  }
  #footerskrift2{
    color: red;
    font-size: 1em;
    padding: 10px;
}