*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

.header{
    min-height: 100vh;
    width:100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../img/pilestredet.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
    margin: 0;
}


.nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 100px;
    position: absolute;
    top: 4%;
    left: 5%;
}

.navbar-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.navbar-links{
    flex: 1;
    text-align: right;
    padding-right: 3%;
    padding-top: 2%;
}

.navbar-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 0.8em;
    font-family: arial;
    padding: 2 20%;
    
   
}


.navbar-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: gold;
    display: block;
    margin: auto;

}
.navbar-links ul li:hover::after{
    width: 100%;
    transition: 0.5s;

}
.text-box{
    width: 90%;
    color: gold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}

.text-box h1{
    font-size: 5em;
    letter-spacing: 0.1em;
}
.white{
    color: white;
    background-color: transparent;
}

section{
    width: 80%;
    margin: 80px auto;

}

article{
    width: 100%;
    margin: 80px auto;
}

h1{
    font-size: 1.5em;
    font-weight: 600;
}
h2{
    font-size: 1.5em;
}
h3 {
    font-size: 1.5em;
  }
h4{
    font-size: 1.5em;
}

p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.campus{
    text-align: center;
    padding-top: 100px;
    color: black;
    font-size: 20px;
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    padding-top: 0px;
}

.campus-col{
   flex-basis: 48%;;
   text-align: center;
   border-radius: 7px;
   margin-bottom: 20px;
   color: white;
   position: relative;
}

.campus-col img{
    width: 100%;
    border-radius: 7px;

}
.layer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5), #567bd4);
    opacity: 0;
    transition: 1s;
}
.campus-col:hover .layer{
    opacity: 1;

}
.campus-description{
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 1s;
    top: 15%;
}
hr{
    background: white;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}
.campus-description p{
    font-size: 14px;
    color: white;
}
.campus-description h3{
    font-size: 20px;
}
.campus-col:hover .campus-description{
    bottom: 40%;
    opacity: 1;
}


@media(max-width: 700px){
    .text-box h1{
        font-size: 26px;
        letter-spacing: 10px;
    }
    .campus-col{
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .campus-description p{
        font-size: 12px;
    }
    .campus-description h3{
        font-size: 14px;
    }
    hr{
        margin: 5px auto;

    }
    .campus-col:hover .campus-description{
    bottom: 25% !important;
}
}

/* Under her er ekstra css for tilgjenglighet-siden. */

.header-tilgjenglighet{
    background-position: center;
    background-size: cover;
    position: relative;
}


.navbar2-links{
    flex: 1;
    text-align: right;
}
.navbar2-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.navbar2-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 0.8em;
}

.navbar2-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: gold;
    display: block;
    margin: auto;

}
.navbar2-links ul li:hover::after{
    width: 100%;
    transition: 0.5s;

}
#footerpage2  {
    background-color: orange;
    padding: 30px;
    text-align: left;
    color: black;
  }
  #footerheadline2{
    text-align: left;
    padding: 10px;
  }

  #footerskrift2{
    color: red;
    font-size: 1em;
    padding: 10px;
    text-align: left;
}
  #footerlist2 {
    font-size: 1em;
    padding: 10px;
    text-align: left;
    line-height: 1.7;
    margin-left: 50px;
  }

/* Under her er ekstra css for aktuelt-siden. */

.header-aktuelt{
    background-position: center;
    background-size: cover;
    position: relative;
}


.navbar3-links{
    flex: 1;
    text-align: right;
}
.navbar3-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.navbar3-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 0.8em;
}

.navbar3-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: gold;
    display: block;
    margin: auto;

}
.navbar3-links ul li:hover::after{
    width: 100%;
    transition: 0.5s;

}
#bildeSide3{
    width: 100%;
}
#bildeSide3tekst{
    font-size: 0.8em;
    color: navy;
}

#footerpage3  {
    background-color: orange;
    padding: 30px;
    text-align: left;
    color: black;
  }
  #footerheadline3{
    text-align: left;
    padding: 10px;
  }

  #footerskrift3{
    color: green;
    font-size: 1em;
    padding: 10px;
    text-align: left;
}
  #footerlist3 {
    font-size: 1em;
    padding: 10px;
    text-align: left;
    line-height: 1.7;
    margin-left: 50px;
  }

  /* Under her er ekstra css for dummy-siden. */

  .header-dummy{
    background-position: center;
    background-size: cover;
    position: relative;
}


.navbar4-links{
    flex: 1;
    text-align: right;
}
.navbar4-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.navbar4-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 0.8em;
}

.navbar4-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: gold;
    display: block;
    margin: auto;

}
.navbar4-links ul li:hover::after{
    width: 100%;
    transition: 0.5s;

}
#footerpage4  {
    background-color: orange;
    padding: 30px;
    text-align: left;
    color: black;
  }
  #footerheadline4{
    text-align: left;
    padding: 10px;
  }

  #footerskrift4{
    color: pink;
    font-size: 1em;
    padding: 10px;
    text-align: left;
}
  #footerlist4 {
    font-size: 1em;
    padding: 10px;
    text-align: left;
    line-height: 1.7;
    margin-left: 50px;
  }
