

/* Dette er generelt css for alle sidene*/
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* kode for index.html siden under */

/*Fra denne kilden hentet vi navbar og bruk av layer
/**https://www.youtube.com/watch?v=P6YQUAWJbwc**/



/* header-index CSS for det store bildet*/
.header-index{
    min-height: 100vh;
    width:100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../img/pilestredet.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
    margin: 0;
}
/* "OSLOMET CAMPUS" på bildet*/
.text-box{
    width: 90%;
    color: darkorange;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}
.text-box h1{
    font-size: 5em;
    letter-spacing: 0.1em;
}

/* hvit tekst på "campus" på bildet*/
.white{
    color: white;
    background-color: transparent;
}
/* dette der logoen øverst til venstre på siden*/
.logo{
    width: 100px;
    position: absolute;
    top: 4%;
    left: 5%;
}

/* fra nav til navbar-links ul li a er css for navigasjonsbaren*/
.nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}


.navbar-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.navbar-links{
    flex: 1;
    text-align: right;
    padding-right: 3%;
    padding-top: 2%;
}

.navbar-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 0.8em;
    font-family: arial;
    padding: 2 20%;
}

/* dette er css når man tar musen over linkene i navigasjonsbaren*/
.navbar-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: gold;
    display: block;
    margin: auto;

}
.navbar-links ul li:hover::after{
    width: 100%;
    transition: 0.5s;
}


/* Fikset mellomrommet mellom bildet og overskiften "Våre studiestader"*/
section{
    width: 80%;
    margin: 40px auto
}

/*Dette er teskten mellom bildene*/
.campus p{
    color: black;
    font-size: 0.8em;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}


.campus{
    text-align: center;
    color: black;
    font-size: 20px;
}

/*for begge boksene*/
.row{
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    padding-top: 20px;
}


.campus-col{
   flex-basis: 43%;
   text-align: center;
   top: 5%;
   border-radius: 40%;
   margin-bottom: 20px;
   color: black;
   position: relative;
}
/*Bilder til boksene*/
.campus-col img{
    width: 100%;
    border-radius: 7px;

}
/*teksten som kommer, når man tar musen over boksene*/
.layer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(231, 125, 49, 0.824), #cf7035);
    opacity: 0;
    overflow: hidden;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 1s;
    max-width: 600px;
}
.campus-col:hover .layer{
    opacity: 1;

}
/*CSS til teksten i boksene*/
hr{
    background: black;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}

.campus-description p{
    font-size: 14px;
    color: black;
}
.campus-description h3{
    font-size: 20px;
}
.campus-col:hover .campus-description{
    bottom: 40%;
    opacity: 1;
}

/*referer til bilde av logo i footer i index-siden */
footer img{              
    width: 100px;
    position:sticky;
    top: 4%;
    right:auto;
    height: auto;
}


/* navigasjonsbar er det samme for tilgjenlighet, aktuelt og dummy-sidene*/

.navbar2-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.navbar2-links{
    flex: 1;
    text-align: right;
    padding-right: 3%;
    padding-top: 2%;
}

.navbar2-links ul li a{
    color:  black;
    text-decoration: none;
    font-size: 0.8em;
    font-family: arial;
    padding: 2 20%;
}


.navbar2-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: #1e167b;
    display: block;
    margin: auto;
    

}
.navbar2-links ul li:hover::after{
    width: 100%;
    transition: 0.5s;
    
}

/*footer har samme css på alle*/
/*den nederste delen i en nettside*/
footer {                   
    background-color: rgb(5, 9, 67);
    padding: 30px;
    text-align: left;
    color: white;
}


/*kode for h3 og h4 innenfor footer-taggen */
footer h3{                  
    text-align: left;
    color: white;
    font-size: 1.1em;
}

footer h4{
    text-align: left;
    color: white;
    font-size: 1.1em;
}

/*kode for p-elementer innenfor footer-taggen*/
footer p{                   
    color: white;
    font-size: 1em;
    padding:1%;
    text-align: left;
}




/*Det er CSS for tilgjengelighet og aktuelt siden.*/
.course{
    text-align: left;
    margin: auto;
    width: 60%;
    padding: 7%;
}
.course p{
    font-size: 1em;
    font-weight: 300;
    line-height: 22px;
    padding: 2%;
}

.course h1{
    line-height: 22px;
    padding: 2%;
    
}
.course h2{
    font-size: 1.3em;
    line-height: 22px;
    padding: 2%;
   
}

/* Under her er ekstra css for tilgjenglighet-siden. */

/*CSS for bildene*/
.Lighthouse, .kontraster{
    display: block;
    width: 96%;
    margin: auto;
}


.tilgjenglighet100{
    display: block;
    width: 60%;
    margin: auto;
}

/*Det er bildekolonnene*/
div.gallery{
    margin: 2%;
    float: left;
    width: 180px;
}


div.gallery img{
    width: 100%;
    height: auto;
}

div.desc{
    width: 180px;
    text-align: center;
    font-size: 14px;
}
.foto-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2px;
    grid-auto-rows: minmax(100px, auto);

}

/* Under her er ekstra css for aktuelt-siden. */

/*Det er tesksten under AI bildet*/
.row2{
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    padding-top: 4%;
}


.proposed-law, .proposed-law2{ 
    width: 100%;
    padding: 10px;
    margin-bottom: 10%;
}

.proposed-law ul, .proposed-law2 ul{
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5em;
    margin: 2%;
}

.course2{
    text-align: left;
    margin: auto;
    margin-top: -8%;
    width: 60%;
    padding: 4%;
    display: flex;
}

#bildeSide3{
    width: 112%;
    font-size: 0.8em;
    color: black;
}

  /* Under her er ekstra css for dummy-siden. */

article{
    text-align: left;
    margin: auto;
    width: 60%;
    padding: 7%;
}

 /*kode for p elementer innenfor taggen article */
article p{                 
    font-size: 1em;
    font-weight: 300;
    line-height: 22px;
    padding: 2%;
}

 /*kode for heading innenfor taggen article*/
article h1{                
    line-height: 22px;
    padding: 2%;
}

article h2, h3, h4{
    font-size: 1.3em;
    line-height: 22px;
    padding: 2%;
}

#bildeSide4{
    width: 80%;
    height: auto;
    padding:2%;
}
#bildeSide4kilde{
    font-size: 0.8em;
    color: black;
}

@media(max-width: 800px){
    
    .nav{
        flex-direction: column;
        text-align: center;
        padding: 2% 4%;
       
    }
    .navbar-links{
        text-align: center;
        padding: 2% 2%;
        background-color:rgb(31, 62, 104);
         
    }
    .navbar-links ul li{
        display: block;
        padding: 8px 0;
 
    }
    .navbar2-links{
        text-align: center;
        padding: 2% 2%;
        background-color:rgb(31, 62, 104);
         
    }
    .navbar2-links ul li{
        display: block;
        padding: 8px 0;
 
    }
    .navbar2-links ul li a{
        color:  white;

    }
    .navbar2-links ul li::after{
        background: white;
    }

    .logo{
        display: none;
    }

    .text-box{
        width: 80%;
        top: 30%;
    }
    
    .text-box h1{
        font-size: 30px;
        letter-spacing: 10px;
        margin-top: 80%;
    }
    .campus-col{
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .campus-description p{
        font-size: 17px;
    }
    .campus-description h3{
        font-size: 19px;
    }
    hr{
        margin: 6px auto;

    }
    .campus-col:hover .campus-description{
    bottom: 25% !important;
    }
    .foto-grid{
        grid-template-columns: 1fr;
    }
    .course2{
        text-align: left;
        margin: auto;
        margin-top: -8%;
        width: 60%;
        padding: 4%;
        margin-bottom: 5%;
        display: flex;
        flex-direction: column;
    }


}