*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}
.header-index{
    min-height: 100vh;
    width:100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../img/pilestredet.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
    margin: 0;
}


.nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 100px;
    position: absolute;
    top: 4%;
    left: 5%;
}

.navbar-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.navbar-links{
    flex: 1;
    text-align: right;
    padding-right: 3%;
    padding-top: 2%;
}

.navbar-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 0.8em;
    font-family: arial;
    padding: 2 20%;
}


.navbar-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: gold;
    display: block;
    margin: auto;

}
.navbar-links ul li:hover::after{
    width: 100%;
    transition: 0.5s;

}
.text-box{
    width: 90%;
    color: gold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}

.text-box h1{
    font-size: 5em;
    letter-spacing: 0.1em;
}
.white{
    color: white;
    background-color: transparent;
}

section{
    width: 80%;
    margin: 80px auto;

}

article{
    width: 100%;
    margin: 30px auto;
}
#dummyArticle{
    width: 80%;
    margin: 80px auto;
}

h1{
    font-size: 1.5em;
    font-weight: 600;
}
h2{
    font-size: 1.5em;
}
h3 {
    font-size: 1.5em;
  }
h4{
    font-size: 1.5em;
}


p{
    color: black;
    font-size: 1em;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
#indexTekst{
    color: #777;
    font-size: 0.8em;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.campus{
    text-align: center;
    padding-top: 100px;
    color: black;
    font-size: 20px;
}

.row{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    padding-top: 20px;
}
.row2{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: auto;
    padding-top: 20px;

}
.bildeSide3artikkel{
    color: #777;
    font-size: 1em;
    line-height: 22px;
    padding-left: 500px;
}

.campus-col{
   flex-basis: 43%;
   text-align: center;
   top: 5%;
   border-radius: 7%;
   margin-bottom: 20px;
   color: white;
   position: relative;
}

.campus-col img{
    width: 100%;
    border-radius: 7px;

}
.layer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5), #567bd4);
    opacity: 0;
    transition: 1s;
    overflow: hidden;
}
.campus-col:hover .layer{
    opacity: 1;

}
.campus-description{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 1s;
    top: 25%;
    max-width: 700px;
}
hr{
    background: white;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
}
.campus-description p{
    font-size: 14px;
    color: white;
}
.campus-description h3{
    font-size: 20px;
}
.campus-col:hover .campus-description{
    bottom: 40%;
    opacity: 1;
}




/* Under her er ekstra css for tilgjenglighet-siden. */

.header{
    position: relative;
    margin: 0%;
    width: 100%;
}

.navbar2-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.navbar2-links{
    flex: 1;
    text-align: right;
    padding-right: 3%;
    padding-top: 2%;
}

.navbar2-links ul li a{
    color:  black;
    text-decoration: none;
    font-size: 0.8em;
    font-family: arial;
    padding: 2 20%;
}


.navbar2-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: darkcyan;
    display: block;
    margin: auto;

}
.navbar2-links ul li:hover::after{
    width: 100%;
    transition: 0.5s;
}

.Lighthouse{
    max-width: 600px;
}

.kontraster{
    max-width: 400px;
}
/* Under her er ekstra css for aktuelt-siden. */



footer {
    background-color: darkcyan;
    padding: 30px;
    text-align: left;
    color: white;
}

footer img{
    width: 100px;
    position:sticky;
    top: 4%;
    right:auto;
}


footer h3{
    text-align: left;
    color: white;
    text-align: left;
    padding: 5px;
    font-size: 1em;
}

footer p{
    color: lightcyan;
    font-size: 1em;
    padding: 10px;
    text-align: left;
}
footer ul{
    font-size: 1em;
    padding: 10px;
    text-align: left;
    line-height: 1.7;
    margin-left: 50px;
    color: whitesmoke;
}

#footerIndex {
    background-color: orange;
    padding: 30px;
    text-align: left;
    color: lightcyan;
}

#footerIndex h3{
    padding: 30pxs;
    text-align: left;
    color: black;
    text-align: left;
    padding: 5px;
    font-size: 1em;
}

#footerIndex p{
    color: black;
    font-size: 1em;
    padding: 10px;
    text-align: left;
}
#footerIndex ul{
    font-size: 1em;
    padding: 10px;
    text-align: left;
    line-height: 1.7;
    margin-left: 50px;
    color: black;
}


#bildeSide3{
    width: 50%;
}
#bildeSide3tekst{
    font-size: 0.8em;
    color: black;
    line-height: 25px;
    padding-left: 50px;
}
.bildeSide3kilde{
    font-size: 0.8em;
    color: black;
}
#bildeSide4{
    width: 80%;
}
#bildeSide4kilde{
    font-size: 0.8em;
    color: black;
}

  /* Under her er ekstra css for dummy-siden. */


@media(max-width: 800px){
    
    .nav{
        flex-direction: column;
        text-align: center;
        padding: 2% 4%;
       
    }
    .navbar-links{
        text-align: center;
        padding: 2% 2%;
        background-color:rgb(31, 62, 104);
         
    }
    .navbar-links ul li{
        display: block;
        padding: 8px 0;
 
    }
    .navbar2-links{
        text-align: center;
        padding: 2% 2%;
        background-color:rgb(31, 62, 104);
         
    }
    .navbar2-links ul li{
        display: block;
        padding: 8px 0;
 
    }
    .text-box{
        width: 80%;
        top: 30%;
    }
    .logo{
        display: none;
    }
    .text-box h1{
        font-size: 30px;
        letter-spacing: 10px;
        margin-top: 80%;
    }
    .campus-col{
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .campus-description p{
        font-size: 17px;
    }
    .campus-description h3{
        font-size: 19px;
    }
    hr{
        margin: 6px auto;

    }
    .campus-col:hover .campus-description{
    bottom: 25% !important;
    }

}